<!--
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
-->

<%@ page contentType="text/html;charset=UTF-8" %>

<fieldset>
    <legend>Quick Actions</legend>
<ul class="nav nav-stacked">
    <li><g:link action="addstaff">Add New Staff</g:link></li>
    <li class="nav-divider"></li>
    <li><g:link action="addclient">Add New Client</g:link></li>
</ul>
</fieldset>