<!DOCTYPE html>
<%@ page import="org.joda.time.*" %>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'shift.label', default: 'Shift')}" />
		<title><g:message code="default.create.label" args="[entityName]" /></title>
                <r:require modules="bootstrap"/>
                <link rel="stylesheet" href="${resource(dir: 'css', file: 'custom.styles.css')}" type="text/css">
                <script>
                    $(document).ready(function() {
                        if (!Modernizr.inputtypes.date) {
                            $("input[type=date]").datepicker({dateFormat: $.datepicker.W3C});
                        }
                    });
                </script>
	</head>
	<body>
            <g:render template="/shared/menu" />
		<a href="#create-shift" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="container">
                    <div class="col-xs-3">
                        <g:render template="shiftactions"/>
                    </div>
            <div class="col-xs-8">
                <fieldset>
                    <legend>Create New Shift</legend>
		<div id="create-shift" class="content scaffold-create" role="main">
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<g:hasErrors bean="${shiftInstance}">
			<ul class="errors" role="alert">
				<g:eachError bean="${shiftInstance}" var="error">
				<li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
				</g:eachError>
			</ul>
			</g:hasErrors>
			<g:form url="[resource:shiftInstance, action:'save']" >
				<fieldset class="form">
					<g:render template="form"/>
				</fieldset>
				<fieldset class="buttons">
					<g:submitButton name="create" class="save" value="${message(code: 'default.button.create.label', default: 'Create')}" />
				</fieldset>
			</g:form>
		</div>
                 </fieldset>
                </div>
            </div>
	</body>
</html>
