<!--
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
-->

<fieldset>
<legend>Staff Actions</legend>
<nav:menu scope="staffactions" class="nav nav-pills nav-stacked"/>
</fieldset>
