<!--
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
-->

<fieldset>
<ul class="nav nav-stacked">
    <li><g:link controller="message" action="create"><i class="fa fa-plus"></i> New Message</g:link></li>
    <li class="nav-divider"></li>
</ul>
</fieldset>