<!--
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
-->
<fieldset>
<legend>Client Actions</legend>
<nav:menu scope="clientaction" class="nav nav-pills nav-stacked"/>
</fieldset>