<!--
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
-->

<%@ page contentType="text/html;charset=UTF-8" %>

<html>
  <head>
    <meta name="layout" content="main">
    <title>Sample title</title>
    <r:require modules="bootstrap" />
  </head>
  <body class="body">
      <div class="container-fluid">
          <g:render template="/shared/menu" />
        <br>
        <br>
        <div>
            <iframe name="inlineframe" src="http://www.kkhealthcare.co.uk" width="100%" height="700" ></iframe>
        </div>
      </div>
  </body>
</html>
